@{
    ViewData["Title"] = "Home Page";
}

<h1>Enter info for some Cookies!</h1>

<form action="/result" method="POST" class="border border border-dark border-1 rounded p-3">
    <div class="mb-3">
        <label for="name">Your Name: </label>
        <input type="text" name="name" class="form-control w-25">
    </div>

    <div class="mb-3">
        <label for="location">Location: </label>
        <select name="location" class="form-control w-25">
            <option value="San Jose"> San Jose</option>
            <option value="Los Angeles"> Los Angeles</option>
            <option value="Bellevue"> Bellevue</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="language">Fav Language: </label>
        <select name="language" class="form-control w-25">
            <option value="C#"> C#</option>
            <option value="Java"> Java</option>
            <option value="Python"> Python</option>
            <option value="English"> English</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="comment" class="text-align-top text-align-center">Comment: </label>
        <textarea name="comment" cols="50" rows="5" class="form-control"></textarea>
    </div>

    <button class="btn btn-outline-primary">Send!</button>
</form>